* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    background-image: url(../images/intro-bg-final.jpg);
    width: 100%;
    background-size: cover;
    height: 1000px;    
}

.intro {
    color: white; 
    text-align: center; 
    justify-content: center;
    display: table;
    height: 90%;
    width: 100%;
}

.intro-title {
    font-size: 50px;
    font-weight: bold;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Manjari Thin';
    line-height: 1.3;
}

.intro-container {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .9;
}
